<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿西河前端教程 - AXIHE.com</title>
</head>

<body>
    <style>
        #wrap {
            width: 100%;
            height: auto;
        }

        #column {
            float: left;
            width: 60%;
        }

        #column1 {
            float: left;
            width: 30%;
        }

        #column2 {
            float: right;
            width: 30%;
        }

        #column3 {
            float: right;
            width: 40%;
        }

        .clear {
            clear: both;
        }
    </style>

    <div id="warp">
        <div id="column">
            <div id="column1">第一列</div>
            <div id="column2">第二列</div>
            <div class="clear"></div>
        </div>
        <div id="column3">第三列</div>
        <div class="clear"></div>
    </div>
</body>

</html>