<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿西河前端教程 - AXIHE.com</title>
</head>

<body>
    <style>
        #left {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 120px;
            background-color: aqua;
        }

        #middle {
            margin: 0 190px;
            background-color: red;
        }

        #right {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 120px;
            background-color: orange;
        }
    </style>
    <div id="left">111</div>
    <div id="middle">222</div>
    <div id="right">333</div>
</body>

</html>