<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿西河前端教程 - AXIHE.com</title>
</head>

<body>
    <div style="
     border: 1px solid #666; 
     height: 100px;
     position: relative;">
        <div style="
            background-color:#d4d4d4; 
            height: 50px; 
            width: 150px;
            position: absolute; 
            top: 0; bottom: 0;
            margin: auto;">
            阿西河
        </div>
    </div>
</body>

</html>