<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿西河前端教程 - AXIHE.com</title>
</head>

<body>
    <div style="
     border: 1px solid #666;
     position: relative;
     height: 100px;
     ">
        <div style="
        background-color:#d4d4d4; 
        position: absolute;
        height: 50px;
        top: 0;
        bottom: 0;
        margin:  auto 0;
        
        ">
            阿西河
        </div>
    </div>
</body>

</html>