<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿西河前端教程 - AXIHE.com</title>
</head>

<body>
    <style>
        .content {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <header>
        <div class="content" style="background-color: red;">
            Header
        </div>
    </header>
    <main>
        <div class="content" style="background-color: green;">
            Main
        </div>
    </main>
    <footer>
        <div class="content" style="background-color: yellow;">
            Footer
        </div>
    </footer>
</body>

</html>